@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-montserrat: 'Montserrat', 'Instrument Sans';
    --font-parkinsans: 'Parkinsans', 'sans-serif'; 
}

@font-face {
    font-family: 'Montserrat';
    src: url('http://127.0.0.1:8000/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url('http://127.0.0.1:8000/fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Montserrat';
    src: url('http://127.0.0.1:8000/fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Montserrat';
    src: url('http://127.0.0.1:8000/fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Parkinsans';
    src: url('http://127.0.0.1:8000/fonts/Parkinsans-Light.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Parkinsans';
    src: url('http://127.0.0.1:8000/fonts/Parkinsans-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Parkinsans';
    src: url('http://127.0.0.1:8000/fonts/Parkinsans-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Parkinsans';
    src: url('http://127.0.0.1:8000/fonts/Parkinsans-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Parkinsans';
    src: url('http://127.0.0.1:8000/fonts/Parkinsans-Bold.ttf') format('truetype');
    font-weight: 700;
}

@theme {
    /* LIGHT  */
    --color-primary: #14452F;
    --color-secondary: #DCECE2;
    --color-tertiary: #F4F8F5; 
    --color-primary-hover: #1F6B47; 
    --color-quartiary: #3D9A62; 
    --color-quartiary-hover: #2F7D4E; 
    
    --color-background-gradient: #E9F2EE; 
    --color-background: #FFFFFF;
    --color-surface: #F5F4F1;
    --color-border: #E5E7EB; 
    --color-light-border: #D1D5DB; 
    --color-light-border-hover: #F3F4F6; 

    --color-text-primary: #111827;
    --color-text-secondary: #6B7280;
    --color-text-contrast: #FFFFFF; 

    --color-placeholder: #9CA3AF; 

    --color-pastel-green-background: #E4F7EC; 
    --color-pastel-green-text: #37A469; 
    --color-pastel-blue-background: #E9ECFB; 
    --color-pastel-blue-text: #0E38BA; 
    --color-pastel-yellow-background: #FEF2D8; 
    --color-pastel-yellow-text: #F5A117; 
    --color-pastel-purple-background: #F3EEFB; 
    --color-pastel-purple-text: #815BBC; 

    --color-cyan: #0EA5A4; 
    --color-brown: #8B5A2B; 
    --color-pink: #F35C75; 
    --color-green: #1F5D3A; 

    --color-blue: #0056D2; 
    --color-purple: #7C2D8E; 
    --color-yellow: #FFEB99; 
    --color-orange: #F38D08; 

    --color-red: #D64545;
    --color-indigo: #4F46E5;
    --color-teal: #0F766E;
    --color-lime: #84CC16;

    --color-rose: #E11D48;
    --color-emerald: #059669;
    --color-sky: #0284C7;
    --color-steel: #3B82A0;
}

.dark {
    --color-primary: #528B66;
    --color-primary-hover: #437554;
    --color-secondary: #273D32;
    --color-tertiary: #212E27;
    --color-quartiary: #3A6E50;
    --color-quartiary-hover: #2E5A40;
    --color-background-gradient: #1C2128;
    --color-background: #22272E;
    --color-surface: #2D333B;
    --color-border: #444C56;
    --color-light-border: #535E68;
    --color-light-border-hover: #636E7B;
    --color-text-primary: #CDD9E5;
    --color-text-secondary: #8A96A3;
    --color-text-contrast: #161B22;
    --color-placeholder: #768390;
    --color-pastel-green-background: #E4F7EC;
    --color-pastel-green-text: #37A469;
    --color-pastel-blue-background: #E9ECFB;
    --color-pastel-blue-text: #0E38BA;
    --color-pastel-yellow-background: #FEF2D8;
    --color-pastel-yellow-text: #F5A117;
    --color-pastel-purple-background: #F3EEFB;
    --color-pastel-purple-text: #815BBC;
}

@media (prefers-color-scheme: dark) {
    :root:not(.light):not(.dark) {
        --color-primary: #528B66;
        --color-primary-hover: #437554;
        --color-secondary: #273D32;
        --color-tertiary: #212E27;
        --color-background-gradient: #1C2128;
        --color-background: #22272E;
        --color-surface: #2D333B;
        --color-border: #444C56;
        --color-light-border: #535E68;
        --color-light-border-hover: #636E7B;
        --color-text-primary: #CDD9E5;
        --color-text-secondary: #8A96A3;
        --color-text-contrast: #161B22;
    }
}